<div id="<%= dom_id block %>">
  <div style="display:flex">
    <p><%=block.hash_block%></p>
    <p>
      <button>open</button>
      <button>close</button>
    <p>
    <%= button_to "DELETE", block, method: :delete %>
  </div>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hash block:</strong>
    <%= block.hash_block %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Prev block:</strong>
    <%= block.prev_block %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Block index:</strong>
    <%= block.block_index %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time:</strong>
    <%= block.time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bits:</strong>
    <%= block.bits %>
  </p>

</div>
