<%= form_with(model: block, class: "contents") do |form| %>
  <% if block.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
        <% block.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 flexblox">
    <%= form.text_field :hash_block, class: "shadow rounded-md border border-black px-18 py-6 w-0.5", style:"width: 600px;" %>
    <%= form.submit "ADD", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
