<!DOCTYPE html>
<html>
  <head>
    
    <nav class="flex items-center justify-center flex-wrap bg-blue-500 p-6 ">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-3xl tracking-tight ">BITCOIN DATA</span>
      </div>
    </nav>

  </div>
    <title>BitcoinData</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5">
      <div id="flash" class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" style="position:absolute; z-index: 2; right: 10px;">
        <%= render partial: "layouts/flash" %>
      </div>

      <div id="flashdestroy" class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" style="position:absolute; z-index: 2; right: 10px;">
        <%= render partial: "layouts/flashdestroy" %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
